[submodule "Mystic/vendor/glfw"]
	path = Mystic/vendor/glfw
	url = https://github.com/glfw/glfw
[submodule "Mystic/vendor/imgui"]
	path = Mystic/vendor/imgui
	url = https://github.com/ocornut/imgui
[submodule "Mystic/vendor/glm"]
	path = Mystic/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Mystic/vendor/ryml"]
	path = Mystic/vendor/ryml
	url = https://github.com/biojppm/rapidyaml
[submodule "Mystic/vendor/yaml-cpp"]
	path = Mystic/vendor/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
